<header class="drawer-header mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" *ng-if="activeUser">
	<img class="player-picture" src="{{activeUser.picture}}" height="60" width="60">
	<span> {{ activeUser.name }} </span>
</header>
<nav class="mdl-navigation">
	<a
		class="mdl-navigation__link with-icon"
		[router-link]="['/home']"
		(click)="closeDrawer()">
		<i class="material-icons mdl-color-text--blue-grey-400">home</i>
		Home </a>
	<a
		class="mdl-navigation__link with-icon"
		[router-link]="['/create-question']"
		(click)="closeDrawer()">
		<i class="material-icons mdl-color-text--blue-grey-400">create</i>
		Create Question</a>
	<a
		class="mdl-navigation__link with-icon"
		[router-link]="['/manage-categories']"
		(click)="closeDrawer()">
		<i class="material-icons mdl-color-text--blue-grey-400">settings</i>
		Manage Categories</a>
	<a
		class="mdl-navigation__link with-icon"
		*ng-if="activeUser"
		(click)="signout()">
		<i class="material-icons mdl-color-text--blue-grey-400">power_settings_new</i>
		Signout</a>
</nav>