.drawer-header .player-picture {
    border-radius: 50%;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
    padding: 16px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
    cursor: pointer;
}

.mdl-navigation__link.with-icon i {
    margin-right: 32px;
}

.drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
}

.drawer-header span {
    font-size: 16px;
    margin-top: 5px;
}