.pof-snackbar {
	display: none;
	position: absolute;
    bottom: 0;
	z-index: 99;
	background-color: #323232;
    color: #FFF;
    border-radius: 2px;
	margin: 0 auto;
    right: 0;
    left: 0;
    width: 400px;
}

.pof-snackbar p {
	word-wrap: break-word;
	margin: 14px 24px;
}

@media only screen and (max-width: 500px) {
	.pof-snackbar {
		width: 100%;
		border-radius: 0;
	}
}