snackbar {
	display: none;
    justify-content: space-between;
    color: #FFF;
    background-color: #323232;
    border-radius: 2px;
    width: 400px;
    margin: 0 auto;
}

.pof-snackbar--message {
	word-wrap: break-word;
	margin: 14px 24px;
}

@media only screen and (max-width: 500px) {
	snackbar {
		width: 100%;
		border-radius: 0;
	}
}