<div class="mdl-grid text-center home">
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" [router-link]="['/join-game']">Join a Game</button>
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" [router-link]="['/create-game']">Create a Game</button>
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		<img src="images/pof-image.jpg" class="home-pof-image">
	</div>
</div>
