.timer {
  height: 200px;
  width: 200px;
  background-color: transparent;
  border-radius: 100%;
}

.circle {
  stroke: green;
  fill: transparent;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s;
  transition-timing-function: linear;
}

.circle.panic {
    stroke: red;
}

.text {
  fill: darkgreen;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  text-anchor: middle;
}

.text.panic {
    fill: darkred;
}