.game-name {
	text-align: center;
    margin-top: 20px;
}

.players-in-game {
	text-align: center;
	margin-top: 20px;
}

.players-in-game img {
	border-radius: 50%;
}

.start-game-btn {
	margin-top: 20px;
	text-align: center;
}