<section class="answer-question" *ng-if="!initialLoading">

	<section *ng-if="isPlayer && !answerSelected">
		<div *ng-for="#answer of displayAnswersArray"
			class="mdl-cell mdl-cell--6-col">
			<button
				*ng-if="!isMyAnswer(answer)"
				class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
				(click)="choose(answer.text)">
				{{ answer.text | uppercase }}
			</button>
		</div>

	</section>

	<section *ng-if="!isPlayer">
		<ul>
			<li *ng-for="#answer of displayAnswersArray"> {{ answer.text | uppercase }} </li>
		</ul>
	</section>

	<p *ng-if="answerSelected">
		Selected answer: {{ answerSelected | uppercase }}
	</p>

	<countdown
        [total]="showAnswersTotalTime"
        [panic]="panicTime"
        [super-panic]="superPanicTime"
        [current-time]="showAnswersRemainTime">
	</countdown>
</section>