.questions-list.mdl-card {
  height: 320px;
}
.questions-list > .mdl-card__title {
  color: #fff;
  background-color: #46B6AC;
  overflow: scroll;
}
.questions-list > .mdl-card__supporting-text {
  overflow: scroll;
}

