<section class="create-question mdl-grid">

    <div class="mdl-card mdl-shadow--8dp create-question-card">

        <div class="mdl-card__title mdl-color--light-green">
            <h2 class="mdl-card__title-text">New question</h2>
        </div>

        <form [ng-form-model]="myForm" (submit)="onSubmit(myForm.value)">

            <!-- SELECT CATEGORY -->
            <div class="mdl-card__supporting-text mdl-grid">
                <!-- DEFAULT CATEGORIES -->
                <div class="mdl-cell mdl-cell--4-col"
                    *ng-for="#category of defaultCategories">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio"
                            class="mdl-radio__button"
                            name="defaultCategoryId"
                            (click)="selectedCategoryName = category.name; hideCustomCategory();"/>
                        <span class="mdl-radio__label">{{ category.name }}</span>
                    </label>
                </div>

                <!-- CUSTOM CATEGORY RADIO BUTTON -->
                <div class="mdl-cell mdl-cell--4-col">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio"
                            class="mdl-radio__button"
                            name="defaultCategoryId"
                            (click)="selectedCategoryName = ''; showCustomCategory();"/>
                        <span class="mdl-radio__label">Custom</span>
                    </label>
                </div>

                <!-- CUSTOM CATEGORIES -->
                <div *ng-if="customCategoryEnable" class="mdl-grid custom-category-picker">
                    <!-- CATEGORY NAME -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                        <input type="text"
                            class="mdl-textfield__input"
                            [(ng-model)]="selectedCategoryName"
                            (keydown)="clearCustomCategoriesRadioButtons()"
                            id="customCategoryName">
                        <label class="mdl-textfield__label" for="customCategoryName">Category name</label>
                    </div>

                    <!-- TOP 5 CUSTOM CATEGORIES -->
                    <p class="mdl-cell mdl-cell--12-col"> Top five custom categories: </p>
                    <div class="mdl-cell mdl-cell--4-col"
                        *ng-for="#category of customCategories">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                            <input type="radio"
                                class="mdl-radio__button"
                                name="customCategoryId"
                                (click)="selectedCategoryName = category.name; checkInputsDirty();"/>
                            <span class="mdl-radio__label">{{ category.name }}</span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- QUESTION DETAILS -->
            <div class="mdl-card__supporting-text mdl-grid">
                <!-- QUESTION TEXT -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <input type="text"
                        autofocus
                        class="mdl-textfield__input"
                        id="question"
                        required
                        [ng-form-control]="myForm.controls.questionText">
                    <label class="mdl-textfield__label" for="question">Question</label>
                    <span
                        class="mdl-textfield__error"
                        *ng-if="myForm.find('questionText').touched && myForm.find('questionText').hasError('required')">
                        Question is required </span>
                </div>

                <!-- REAL ANSWER -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <input type="text"
                        class="mdl-textfield__input"
                        id="answer"
                        required
                        [ng-form-control]="myForm.controls.realAnswer">
                    <label class="mdl-textfield__label" for="answer">Answer</label>
                    <span
                        class="mdl-textfield__error"
                        *ng-if="myForm.find('realAnswer').touched && myForm.find('realAnswer').hasError('required')">
                        Answer is required </span>
                </div>

                <!-- FAKE ANSWERS -->
                <chips
                    [collection]="fakeAnswers"
                    [label]="'Fake answer'"
                    [grid]="'mdl-cell--12-col'"> </chips>

            </div>

            <!-- ACTIONS -->
            <div class="mdl-card__actions mdl-card--border">
                <button type="submit"
                    class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                    [disabled]="!myForm.valid || !selectedCategoryName">
                    Create
                </button>
            </div>
        </form>
    </div>
</section>