<section class="create-question">
    <form [ng-form-model]="myForm"
          (submit)="onSubmit(myForm.value)"
          class="mdl-grid">

        <!--<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
            <select id="category" [ng-form-control]="myForm.controls.categoryId">
                <option
                    *ng-for="#category of defaultCategories"
                    value="{{ category.id }}"> {{ category.name }} </option>
            </select>
            <label class="mdl-textfield__label" for="category">Category</label>
        </div>-->

        <div
            class="mdl-cell mdl-cell--2-col mdl-cell--2-col-phone mdl-cell--2-col-tablet"
            *ng-for="#category of defaultCategories">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                <input type="radio"
                       class="mdl-radio__button"
                       name="categoryId"
                       (click)="selectedCategoryName = category.name"/>
                <span class="mdl-radio__label">{{ category.name }}</span>
            </label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label text-left mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
            <input type="text"
                   class="mdl-textfield__input"
                   id="question"
                   required
                   [ng-form-control]="myForm.controls.questionText">
            <label class="mdl-textfield__label" for="question">Question</label>
            <span
                class="mdl-textfield__error"
                *ng-if="myForm.find('questionText').touched && myForm.find('questionText').hasError('required')">
                Question is required </span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label text-left mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
            <input type="text"
                   class="mdl-textfield__input"
                   id="answer"
                   required
                   [ng-form-control]="myForm.controls.realAnswer">
            <label class="mdl-textfield__label" for="answer">Answer</label>
            <span
                class="mdl-textfield__error"
                *ng-if="myForm.find('realAnswer').touched && myForm.find('realAnswer').hasError('required')">
                Answer is required </span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label text-left mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
            <input type="text"
                   class="mdl-textfield__input"
                   id="fakeAnswer1"
                   [ng-form-control]="myForm.controls.fakeAnswers.controls.one">
            <label class="mdl-textfield__label" for="fakeAnswer1">Fake Answer</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label text-left mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
            <input type="text"
                   class="mdl-textfield__input"
                   id="fakeAnswer2"
                   [ng-form-control]="myForm.controls.fakeAnswers.controls.two">
            <label class="mdl-textfield__label" for="fakeAnswer2">Fake Answer</label>
        </div>

        <div class="mdl-cell mdl-cell--12-col text-center">
            <button type="submit"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              [disabled]="!myForm.valid || !selectedCategoryName">Create</button>
        </div>
        <pre> {{selectedCategoryName | json}} </pre>
    </form>

    <p *ng-if="showSuccessMsg"> Question added successfully </p>
    <p *ng-if="showWaitForApproveMsg"> Question added successfully but need to be approved </p>
    <p *ng-if="showErrorMsg"> {{ errorMsg }} </p>
</section>